@using company.ass.pl.ViewModels
@model EmployeeViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="form-group">
    <label asp-for="name" class="col-form-label"></label>
    <input asp-for="name" type="number" class="form-control" readonly />
</div>
<div class="form-group">
    <label asp-for="age" class="col-form-label"></label>
    <input asp-for="age" type="text" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="address" class="col-form-label"></label>
    <input asp-for="address" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="salary" class="col-form-label"></label>
    <input asp-for="salary" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input asp-for="PhoneNumber" class="form-control" readonly />

</div>
<div class="form-group">
    <label asp-for="IsActive" class="form-check"></label>
    <input asp-for="IsActive" class="form-check" readonly />

</div>
<div class="form-group">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <input asp-for="HiringDate" class="form-control" readonly />

</div>