
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All" class="bg-danger"></div>
	<div class="agileits-top">
		<div>
			<a href="https://mail.google.com/" target="_blank">
				Reset Password link has been send to your email, please check your inbox
			</a>
		</div>
	</div>
</div>

