@using company.ass.pl.ViewModels
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All" class="bg-danger"></div>
	<div class="agileits-top">
		<form asp-action="SendResertPassword">


			<input class="text " asp-for="Email" placeholder="Email">
			
			<input type="submit" value="Resert password">
		</form>
	</div>
</div>

